

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-height: 100vh;
	background-color:azure;
}
ul {
  margin: 0;
  list-style: none;
}

.main-nav {
	margin-top: 5px;
	display: flex;
}

.header a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #4a536b;
	font-size: 18px;
	text-decoration: none;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-nav a:hover {
	color: whitesmoke;
}

.header {
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color:#aed6dc;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.header img{
	float: left;
	width: 60px;
}

#contact{
	/* pank */
	
	left: 0;
	bottom: 0;
	width: 100%;
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	margin-bottom: 0px;
    margin-top: -10px;
	text-align: center;
  }

#contact a{
	/* pankaj */



	color:#2e6da4;
	font-size: 18px;
	text-decoration: none;
	font-family: Verdana, Tahoma, sans-serif;
	text-align: center;
}

#contact a:hover {
	color: whitesmoke;
}


/* test */

.container-fluid{
    margin-left:100px ;
}

.block1 {
    
    background:aliceblue;
    position: fixed left;
    display: inline-block;
    width: 22em;
    height: 30em;
    overflow: auto;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: 0.2em;
}



.block3 {
    background: aliceblue;
    position: fixed left;
    display: inline-block;
    width: 22em;
    height: 30em;
    overflow: auto;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: -1em;

}

.block4 {
    background: aliceblue;
    display: inline-block;
    width: 22em;
    height: 30em;
    border: 1px solid grey;
    margin-top: 1em;
    margin-left: 2em;
}

.header1 {
    position: absolute;
    padding-top: 1em;
    display: inline-block;
    width: 22em;
    height: 2.9em;
    border: 1px solid black;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-top: -10px;
    margin-left: -1px;
    background-color:navy;
    text-align: center;
    font-size: 16px;
    color: white;
}

.header2 {
    position: absolute;
    padding-top: 1em;
    display: inline-block;
    width: 22em;
    height: 2.9em;
    border: 1px solid black;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-top: -10px;
    margin-left: -1px;
    background-color: navy;
    text-align: center;
    font-size: 16px;
    color: white;
}

.header3 {
    position: absolute;
    padding-top: 1em;
    display: inline-block;
    width: 22em;
    height: 2.9em;
    border: 1px solid black;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-top: -10px;
    margin-left: -1px;
    background-color:navy;
    text-align: center;
    font-size: 16px;
    color: white;
}

.block1 ul li {
    margin-top: 1em;
    font-size: 15px;
}

.tn {
    margin-top: 9em;
}

#btn_1 {
    width: 5em;
    margin-left: 9em;
    margin-top: .5em;

}

#btn_2 {
    width: 5em;
    margin-top: .5em;
    margin-left: 2em;
}

#btn_3 {
    margin-top: .5em;
    margin-left: 9em;
}

#option {
    margin-left: -4em;
    width: 16em;
    margin-right: 2em;
    margin-top: 2em;
    font-size: 16px;
}

.pre {
    margin-left: 1em;
    margin-top: 3.5em;
}

.block4 #res_1 {
    margin-top: 3em;
}



.straight {
    margin-top: 2em;
    display: inline-block;
    height: 30em;
    margin-left: 2em;
}

th,
td {
    padding: 10px;
}

th {
    text-align: left;
}

table#t2 {
    border-collapse: collapse;
}

table#t2 th {
    background-color: black;
    color: white;
}

.select {
    width: 7em;
    margin-left: 7em;
    margin-top: 3em;
    box-sizing: border-box;
	font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-align: center;
}



.form-control {
    display: block;
    width: 90%;
    height: 34px;
    margin-left: 5%;
    margin-top: -10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (min-width: 320px) and (max-width:400px) {
    .straight {
        margin-left: -2%;
        margin-top: 18%;
    }
    .block3 {
        margin-top: -150%;
        margin-left: 100%;
        margin-bottom: 7%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -150%;
        margin-left: 240%;
        margin-right: 5%;
        margin-bottom: 14%;
    }
}

@media (min-width: 401px) and (max-width:480px) {
    .straight {
        margin-left: -2%;
        margin-top: 20%;
    }
    .block3 {
        margin-top: -130%;
        margin-left: 85%;
        margin-bottom: 6%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -130%;
        margin-left: 210%;
        margin-right: 5%;
        margin-bottom: 12%;
    }
}

@media (min-width: 481px) and (max-width:580px) {
    .straight {
        margin-left: -2%;
        margin-top: 22%;
    }
    .block3 {
        margin-top: -130%;
        margin-left: 70%;
        margin-bottom: 4%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -130%;
        margin-left: 170%;
        margin-right: 5%;
        margin-bottom: 9%;
    }
}

@media (min-width: 581px) and (max-width:680px) {
    .straight {
        margin-left: -2%;
        margin-top: 20%;
    }
    .block3 {
        margin-top: -130%;
        margin-left: 55%;
        margin-bottom: 3%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -130%;
        margin-left: 136%;
        margin-right: 5%;
        margin-bottom: 7%;
    }
}

@media (min-width: 681px) and (max-width:768px) {
    .straight {
        margin-left: 1%;
        margin-top: 20%;
    }
    .block3 {
        margin-top: -130%;
        margin-left: 47%;
        margin-bottom: 3%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -130%;
        margin-left: 116%;
        margin-right: 5%;
        margin-bottom: 6%;
    }
}

@media (min-width: 769px) and (max-width: 810px) {
    .straight {
        margin-left: 1%;
        margin-top: 20%;
    }
    .block3 {
    margin-top: -130%;
    margin-left: 45%;
    margin-bottom: 2.6%;
    margin-right: 5%;
}
    .block4 {
        margin-top: -130%;
        margin-left: 95%;
        margin-right: 5%;
        margin-bottom: 5.4%;
    }
}



@media (min-width: 1326px) {
    .straight {
        margin-left: 1%;
        margin-top: 3%;
    }
    .block3 {
        margin-top: -160%;
        margin-left: 1%;
        margin-bottom: 0%;
        margin-right: 5%;
    }
    .block4 {
        margin-top: -120%;
        margin-left: 59.5%;
        margin-right: 5%;
        margin-bottom: 1.4%;
    }
    #bs li a {
        text-decoration: none;
        border-width: 4em;
        height: 2.3em;
        margin-left: .5em;
        margin-top: 1.2em;
        margin-right: .5em;
        color: #fff;
        font-family: Ubuntu;
        font-weight: lighter;
        font-size: 24px;
    }
    .navbar-nav li a:hover,
    .navbar-nav li.active a {
        color: #F05054 !important;
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
}

/* button 2 color */


.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
   
    box-shadow: none;
    opacity: .65;
}


.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    touch-action: manipulation;
    cursor: pointer;
    
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
}


button {
   
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    
    text-indent: 0px;
    text-shadow: none;
    
    align-items: flex-start;
    
}
style attribute {
    font-family: Ubuntu;
}
